%h1 Listing drivers

%table
  %tr
    %th Name
    %th Surname
    %th
    %th
    %th

  - @drivers.each do |driver|
    %tr
      %td= driver.name
      %td= driver.surname
      %td= link_to 'Show', driver
      %td= link_to 'Edit', edit_driver_path(driver)
      %td= link_to 'Destroy', driver, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Driver', new_driver_path
